<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/index_styles/main_styles.css">
  <link rel="stylesheet" href="../CSS/index_styles/header_styles.css">
  <link rel="stylesheet" href="../CSS/index_styles/footer_styles.css">
  <script src="https://kit.fontawesome.com/910f16346a.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">

  <title>My landing page</title>
</head>

<body>

  <header class="header">

    <div id="emailModal" class="modal">
      <div class="modal-content">
        <span class="close" id="closeEmailModal">&times;</span>
        <h2 id="contact_title"></h2>
        <form id="emailForm">
          <label id="for_label" for="to"></label>
          <input type="email" id="to" name="to" required><br>

          <label id="issue_label" for="subject"></label>
          <input type="text" id="subject" name="subject" required><br>

          <label id="message_label" for="message"></label>
          <textarea id="message" name="message" required></textarea><br>
          <div class="btn_container">

            <button id="btn_send" type="submit"></button>
          </div>

        </form>
      </div>
    </div>


    <nav class="navigation-menu">

      <div class="header-title">
        <h1 id="company_name" style="font-size: 45px;"></h1>
      </div>

      <div class="nav-options">
        <ul class="first-menu-options">
          <a href="../admin.html">Admin page</a>
          <a id="reload" href="">Reload page</a>
          <li><a id="menu_option_1" href="#start"></a></li>
          <li><a id="menu_option_2" href="#products"></a></li>
          <li><a id="menu_option_3" href="#services"></a></li>
          <li><a id="menu_option_4" href="#"></a></li>
          </li>
        </ul>

        <ul class="second-menu-options">
          <li><img id="icon_header_1" src="../Assets/user.svg" alt=""></li>
          <li><img id="icon_header_2" src="../Assets/building-store.svg" alt=""></li>
          <li><img id="icon_header_3" src="../Assets/search.svg" alt=""></li>

        </ul>

      </div>

    </nav>

  </header>

  <main class="main">

    <section class="content_one" id="start">

      <div class="content_one_information">

        <h2 id="title_secction_1"></h2>
        <p style="line-height: 1.5;" id="paragraph_section_1"></p>

      </div>

      <div class="content_one_picture">

        <img id="img_section_1" class="picture_one" src="" alt="">
      </div>



    </section>

    <section class="content-two" id="products">
      <div class="content_two_information">

        <h2 id="title_section_2">NEW COLLECTION</h2>

        <div id="content-product">


          <div class="discount_field">

            <div>
              <p><b style="font-size:20px ;">Take off</b></p>
            </div>

            <div id="content-discount">
              <p style="font-size: 25px;"></p>
            </div>

          </div>
          <img id="picture-content_two" src="" alt="">

          <div id="content-information-picture-one">
            <div id="text-1">
              <p><b id="description_product"></b><br></p>
              <p id="price_product"></p>
              <p><b id="size_product"></b></p>
            </div>
            <div id="content-more" style="font-size: 25px;"><b>+</b></div>
          </div>

        </div>

        <div class="clothes-buttons" id="buttons">
          <button id="button_1" type="button"></button>
          <button id="button_2" type="button"></button>
          <button id="button_3" type="button"></button>
          <button id="button_4" type="button"></button>
        </div>

      </div>

      <!-- Agrega aquí tu contenido principal -->
    </section>

    <section class="content-three">


      <h2 id="title_content_three">CATEGORIES</h2>

      <div id="cat_container" class="container">

      </div>

    </section>


    <section class="content-four" id="services">


      <div id="services_container">

        <h1 id="title_content_four">¿What are our services?</h1>

        </div>

      </div>



      
      <div class="content_four_picture">
        <img id="picture_content_four" img src="../Assets/pic four.jpg" alt="">
      </div>

    </section>

  </main>

  <footer class="footer">

    <div id="footer_section_1" class="footer-info">
      <h3>Company</h3>
      <ul id="list_1">
        <li><a href="#">About</a></li>
        <li><a href="#">Carrers</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Meet our Instructor</a></li>
      </ul>
    </div>

    <div id="footer_section_2" class="footer-info">
      <h3>Offers</h3>
      <ul id="list_2">
        <li><a id="" href="#">Buy a gift</a></li>
        <li><a href="#">Redeem a Gift</a></li>
        <li><a href="#">Groups & Teams</a></li>
        <li><a href="#">Calm Health</a></li>
      </ul>
    </div>

    <div id="footer_section_3" class="footer-info">
      <h3>Help</h3>
      <ul id="list_3">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
    </div>

    <div id="list_4" class="logos">
      <button id="btnInstagram" class="btnredes" style="background: transparent; border: none; cursor: pointer;">
        <i class="fa-brands fa-instagram"></i></button>
      <button id="btnInstagram" class="btnredes" style="background: transparent; border: none; cursor: pointer;">
        <i class="fa-brands fa-facebook"></i></button>
      <button id="btnInstagram" class="btnredes" style="background: transparent; border: none; cursor: pointer;">
        <i class="fa-brands fa-twitter"></i></button>
    </div>

  </footer>
  <script src="../JS/main.js"></script>
</body>

</html>