/*Estilos para la sección del body*/
body {
  display: flex;
  flex-direction: column;
}
/*Tipografia de la letra*/
*{
  font-family: 'Nunito Sans', sans-serif;
}

/*Estilos para los botones de categoria - editar y eliminar*/
.edit_delete_container_cat button {
  height: 36px;
  border-radius: 3px;
  background-color: white;
  border: none;
  cursor: pointer;
}
/*Estilos para los botones de servicios - editar y eliminar*/
.edit_delete_container_serv button {
  height: 36px;
  border-radius: 3px;
  background-color: #FCE1D3;
  border: none;
  cursor: pointer;
}
/*Estilos para los botones de editar y eliminar*/
.edit_delete_container_serv, .edit_delete_container_cat{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*Color de el boton de eliminar*/
.btnDelete i{
  color: red; 
  font-size: 25px;
}
/*Color de el boton de editar*/
.btnEdit i{
  color: blue;
  font-size: 25px;
}
/*Boton de agregar*/
#btnEditCompany i{
  font-size: 35px;
}
/*color del boton agregar*/
.btnAdd i {
  color: green;
  font-size: 40px;
}

/*estilos de forma para todo el main*/
.main {
  margin-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  flex: 1;
}
/*Estilos nombre de la pagina*/
.header-title{
  display: flex;
  gap: 10px;
  align-items: center;
}
/*Estilos sección de descripción de la empresa*/
.content_one {
  background-color: white;
  display: flex;
  padding: 20px 100px;
  gap: 10%;
}
/*Estilos para la sección de descripción (información)*/
.content_one_information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;
}
/*Estilos para la sección de descripción (foto)*/
.content_one_picture {
  display: flex;
  justify-content: center;
}

/*estilos especificos del la foto*/
.picture_one {
  width: 450px;
  border-radius: 5px;
}

.content-two {
  padding: 20px;
  background-color: #e4e3d2;
  text-align: center;
  display: flex;
  justify-content: center;
}
/*Estilosa generales para el contenido de la sección 2*/
.content_two_information {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*Estilos del carrusel*/
#carousel {
  display: flex;
  align-items: center;
  gap: 10px;

}

/*Estilos de las transiciones de esta sección*/
#leftButton,
#righttButton {
  cursor: pointer;
  transform: translateY(-50%);
  user-select: none;
}

/*Estilos para el contenido de la sección de productos*/
#content-product {
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: 0.5s ease;
}



/*Estilos especificos para el descuento*/
#content-discount {
  margin-top: 15px;
  border-radius: 50%;
  background-color: black;
  height: 65px;
  width: 65px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

/*Estilos para las imagenes de esta sección*/
#picture-content_two {
  transition: opacity 0.5s;
  width: 400px;
  height: 400px;
}

/*Estilos para el texto de las imagenes*/
#content-information-picture-one {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

/*estilos para el texto*/
#text-1 {
  text-align: left;
}

/*estilos para el + de esta sección*/
#content-more {
  background-color: #050505;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Estilos para el descuento*/
.discount_field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*Estilos para los botones*/
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

.content-three {
  padding-top: 50px;
}

/*Estilos para el contenedor de colección*/
.container {
  display: flex;
  margin: auto;
  padding: 20px;
  width: 60%;
  height: 600px;
}
.title-addContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/*Estilos para las imagenes*/
.container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  flex-grow: 1;
  object-fit: cover;/*Se ajusta al tamaño del contenedor*/
  opacity: .8; /*Opacidad de la imagen*/
  transition: .7s ease; /*Transición*/
  margin-right: 25px;
}
/*Aclara la imagen*/
.container img:hover {
  cursor: crosshair;
  opacity: 1;
}

/*Opacidad de los botones e imagenes de la sección de categoria*/
.categories, .edit_delete_container_cat, .content_one, .service{
  transition: opacity 1s ease;
}

/*Estilos para la sección de servicios*/
.content-four {
  background-color: #FCE1D3;
  display: flex;
  flex-direction: row;
  text-align: start;
  justify-content: space-evenly;

}
/*Imagen sección de servicios*/
.content_four_picture {
  margin-left: 20px;
}
/*Estilos de posición de la imagen*/
#picture_content_four {
  width: 350px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 150px;
}
/*Estilos del contenerdor de los servicios*/
#services_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin-left: 100px;
  flex: 1;
}



/*Iconos de los servicos*/
.service_icons {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

/*Estilos de los servicios de forma*/
.service {
  display: flex;
  gap: 40px;
}