/*Aplica estilos a toda la pagina.*/
body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 { /*Tipografia para los titulos h3.*/
  font-family: 'Nunito Sans', sans-serif;
}

p,
b { /*Tipografia para los los textos P.*/
  font-family: 'Zilla Slab', serif;
}

/*Estilos del titulo*/
.header-title{
  display: flex;
  gap: 10px;
  align-items: center;
}

 
/*Estilos generales para las 4 secciones de la pagina*/
.main {
  margin-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  flex: 1;
}

/*Estilos para toda la sección de la descripción*/
.content_one {
  background-color: white;
  display: flex;
  padding: 20px 100px;
  gap: 10%;
}

/*Ordena el titulo de decrip y el +*/
.title-addContainer{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/*Estilos de la descripción*/
.content_one_information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

/*Estilos especuficos para la foto, Seccón 1*/
.content_one_picture {
  display: flex;
  justify-content: center;
}

/*Estilos para la foto*/
.picture_one {
  width: 450px;
  border-radius: 5px;
}

/*Estilos para toda la sección de la colección.*/
.content-two {
  padding: 20px;
  background-color: #e4e3d2;
  text-align: center;
  display: flex;
  justify-content: center;
}

/*Estilos generales para la infomación de esta sección*/
.content_two_information {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*Estilos para el descuento*/
.discount_field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*Estilos del carrusel*/
#carousel {
  display: flex;
  align-items: center;
  gap: 10px;

}

/*Botón y animación para el botón*/
#leftButton,
#righttButton {
  cursor: pointer;
  transform: translateY(-50%);
  user-select: none;
}

/*Estilos para los productos de la nueva colección*/
#content-product {
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/*Estilos para la sección del descuento */
#content-discount {
  margin-top: 15px;
  border-radius: 50%;
  background-color: black;
  height: 65px;
  width: 65px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

/*Estilos para las fotos de esta sección*/
#picture-content_two {
  transition: opacity 0.5s; /*Efecto de transición*/
  width: 400px;
  height: 400px;
}

/*Estilos para la información de las imágenes de la colección*/
#content-information-picture-one {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

/*Alinea el texto de la imagen*/
#text-1 {
  text-align: left;
}

/*Estilos para el + de esta sección*/
#content-more {
  background-color: #050505;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Estilos de forma para los botones de esta sección*/
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

/*Estilos para los botones de esta sección*/
.clothes-buttons button {
  border-radius: 50%;
  background-color: white;
  border: none;
  width: 50px;
  height: 50px;
  transition: background-color 0.5s ease;
}

/*cambia de color al poner el pulsor*/
.clothes-buttons button:hover {
  background-color: #050505;
}

/*Estilos generales para toda la sección*/
.content-three {
  padding-top: 50px;
}

/*Estilo para el título*/
#title_content_three {
  text-align: center;
}

/*Estilos específicos para las imágenes agrupadas */
.container {
  display: flex;
  margin: auto;
  padding: 20px;
  width: 60%;
  height: 600px;
}

/*Estilos de los botones de editar y eliminar*/
.edit_delete_container_cat button {
  height: 36px;
  border-radius: 3px;
  background-color: white;
  border: none;
  cursor: pointer;
}

/*Estilos de los botones de editar y eliminar en serv*/
.edit_delete_container_serv button {
  height: 36px;
  border-radius: 3px;
  background-color: #FCE1D3;
  border: none;
  cursor: pointer;
}

/*Estilos de los botones de editar y eliminar en cat*/
.edit_delete_container_serv, .edit_delete_container_cat{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*color del icono de eliminar*/
.btnDelete i{
  color: red;
  font-size: 25px;
}

/*color del icono de editar*/
.btnEdit i{
  color: blue;
  font-size: 25px;
}

/*Tamaño del icono + en company*/
#btnEditCompany i{
  font-size: 35px;
}

/*color del icono +*/
.btnAdd i {
  color: black;
  font-size: 40px;
}

/*Opacidad*/
.categories{
  transition: opacity 0.5s ease;
}

/*Estilos para las imagenes*/
.container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  flex-grow: 1;
  object-fit: cover; /*se ajusta al tamaño del contenedor*/
  opacity: .8; /*Opacidad*/
  transition: .7s ease; /*Transición*/
  margin-right: 25px;
}

/*Hace que más clara la imagen al poner el pulsor sobre ella*/
.container img:hover {
  cursor: crosshair;
  opacity: 1;
}





















/*Estilos generales para toda la sección*/
.content-four {
  background-color: #FCE1D3;
  display: flex;
  flex-direction: row;
  text-align: start;

}

/*Estilos generales para los servicios*/
.service {
  display: flex;
  gap: 40px;
}

/*Estilos para los servicios*/
#services_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin-left: 100px;
  flex: 1;
}

/*Estilos generales para la imagen*/
.content_four_picture {
  margin-left: 20px;
}

/*Estilos específicos para la imagen*/
#picture_content_four {
  width: 350px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 150px;
}

/*transción de los servicios*/
.service{
  transition: opacity 0.5s ease;
}

/*Estilos para los iconos*/
.service_icons {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}


